image: node:20
include:
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml

stages:
  - install
  - build
  - test
  - release

install:
  stage: install
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: always
  script:
    - npm install
  artifacts:
    expire_in: 10 minutes
    when: on_success
    paths:
      - node_modules/

# Original serialized version (commented out)
#
# build:
#   stage: build
#   rules:
#     - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
#       when: never
#   script:
#     - npm run build:core
#     - npm run delete-maps:core
#
#     - npm run build:websdk3
#     - npm run delete-maps:websdk3
#     # Note this is needed for e2e tests
#     - npm pack --workspace=@loginid/websdk3
#
#     - npm run build:checkout-commons
#     - npm run delete-maps:checkout-commons
#
#     - npm run build:checkout-merchant
#     - npm run delete-maps:checkout-merchant
#
#     - npm run build:checkout-wallet
#     - npm run delete-maps:checkout-wallet
#   artifacts:
#     expire_in: 3 hours
#     when: on_success
#     paths:
#       - loginid-*.tgz
#       - packages/core/dist
#       - packages/websdk3/dist
#       - packages/checkout/commons/dist
#       - packages/checkout/merchant/dist
#       - packages/checkout/wallet/dist

build:
  stage: build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: always
  parallel:
    matrix:
      - PACKAGE: core
      - PACKAGE: websdk3
      - PACKAGE: checkout-commons
      - PACKAGE: checkout-merchant
      - PACKAGE: checkout-wallet
  script:
    - echo "Building $PACKAGE..."
    - npm run build:$PACKAGE
    - npm run delete-maps:$PACKAGE

    # Only run npm pack for websdk3
    - |
      if [ "$PACKAGE" == "websdk3" ]; then
        npm pack --workspace=@loginid/websdk3
      fi
  artifacts:
    expire_in: 3 hours
    when: on_success
    paths:
      - loginid-*.tgz
      - packages/$PACKAGE/dist

audit:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: $CI_PIPELINE_SOURCE == "pipeline" 
      when: never
    - when: always
  script:
    - npm audit --audit-level=low


# Original unit test job (commented out)
#
# unit-test-websdk:
#   stage: test
#   rules:
#     - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
#       when: never
#     - if: $CI_PIPELINE_SOURCE == "pipeline" 
#       when: never
#   script:
#     - npm run lint:websdk3
#     - npm run test:websdk3

unit-tests:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - when: always
  parallel:
    matrix:
      - PACKAGE: core
      - PACKAGE: websdk3
      - PACKAGE: checkout-commons
      - PACKAGE: checkout-merchant
      - PACKAGE: checkout-wallet
  script:
    - echo "Running lint and tests for $PACKAGE..."
    - npm run lint:$PACKAGE
    - npm run test:$PACKAGE

chrome-test:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: always
  variables:
    BRANCH: $CI_COMMIT_REF_NAME
  trigger:
    project: loginid/software/testing-tools/auto-directweb
    strategy: depend

release:
  stage: release
  rules:
    - if: $CI_PIPELINE_SOURCE == "pipeline" 
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    #- if: '$CI_COMMIT_BRANCH == "next"'
      #when: manual
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'
      when: never
    - when: always
  variables:
    GITLAB_TOKEN: $PROJECT_CI_TOKEN
    NPM_TOKEN: $NPM_AUTH_TOKEN
  script:
    - npm i -g @anolilab/multi-semantic-release @semantic-release/gitlab @semantic-release/changelog @semantic-release/git @semantic-release/npm @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
    - npx multi-semantic-release
