image: node:20
include:
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml

stages:
  - install
  - build
  - test
  - release

install:
  stage: install
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: always
  script:
    - npm install
  artifacts:
    expire_in: 10 minutes
    when: on_success
    paths:
      - node_modules/

# Utilize web identity federation to allow AWS to perform STS calls on our behalf
.aws-prep: &aws-prep
  - |
    mkdir -p ~/.aws
    echo "${OIDC_TOKEN}" > /tmp/web_identity_token
    echo -e "[profile oidc]\nrole_arn=${ROLE_ARN}\nweb_identity_token_file=/tmp/web_identity_token" > ~/.aws/config

build-websdk:
  stage: build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: always
  script:
    # Order matters
    - npm run build:core
    - npm run delete-maps:core
    # Note this is needed for e2e tests
    - npm pack --workspace=@loginid/core

    - npm run build:websdk3
    - npm run delete-maps:websdk3
    # Note this is needed for e2e tests
    - npm pack --workspace=@loginid/websdk3

    - npm run build:checkout-commons

    - npm run build:checkout-merchant
    - npm run delete-maps:checkout-merchant

    - npm run build:checkout-wallet
    - npm run delete-maps:checkout-wallet
  artifacts:
    expire_in: 3 hours
    when: on_success
    paths:
      - loginid-*.tgz
      - packages/core/dist
      - packages/websdk3/dist
      - packages/checkout/commons/dist
      - packages/checkout/merchant/dist
      - packages/checkout/wallet/dist

audit:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: $CI_PIPELINE_SOURCE == "pipeline" 
      when: never
    - when: always
  script:
    - npm audit --audit-level=low

unit-tests:
  stage: test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - when: always
  parallel:
    matrix:
      - PACKAGE: core
      - PACKAGE: websdk3
      - PACKAGE: checkout-commons
      - PACKAGE: checkout-merchant
      - PACKAGE: checkout-wallet
  script:
    - echo "Running lint and tests for $PACKAGE..."
    - npm run lint:$PACKAGE
    - npm run test:$PACKAGE

chrome-test:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /3\.[0-9]+\.x/i'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_TAG'
      when: never
    - when: always
  variables:
    BRANCH: $CI_COMMIT_REF_NAME
  trigger:
    project: loginid/software/testing-tools/auto-directweb
    strategy: depend

release:
  stage: release
  rules:
    - if: $CI_PIPELINE_SOURCE == "pipeline" 
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    #- if: '$CI_COMMIT_BRANCH == "next"'
      #when: manual
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'
      when: never
    - when: always
  variables:
    GITLAB_TOKEN: $PROJECT_CI_TOKEN
    NPM_TOKEN: $NPM_AUTH_TOKEN
  script:
    - npm i -g @anolilab/multi-semantic-release @semantic-release/gitlab @semantic-release/changelog @semantic-release/git @semantic-release/npm @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
    - npx multi-semantic-release

deploy-cloudfront-s3-bucket:
  stage: release
  image:
    name: amazon/aws-cli:latest
    entrypoint: [""]
  environment: production
  id_tokens:
    OIDC_TOKEN:
      aud: https://gitlab.com
  variables:
    S3_BUCKET: $AWS_PRODUCTION_S3_BUCKET
    CF_DISTRIBUTION_ID: $AWS_PRODUCTION_CF_DISTRIBUTION_ID
    ROLE_ARN: arn:aws:iam::$AWS_PRODUCTION_ACCOUNT_ID:role/$AWS_PRODUCTION_ROLE_NAME
  before_script:
    - *aws-prep
  script:
    - sh ./scripts/aws-deploy-s3.sh
  rules:
    - if: $CI_COMMIT_TAG
      when: manual
